# Ignore Gradle project-specific cache directory
.gradle
.gogradle
.gradletasknamecache
*.class
*.jar
*.war
*.ear
.idea
.mtj.tmp/
/libdeps/
/config/cmdb.groovy

# Ignore Gradle build output directory
/build
/node

/gconf
/gconf.exe