numpy==1.18.1
pandas==1.1.5
pip==20.2.4
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.5
pytest==6.2.1
six==1.15.0
toml==0.10.1
tqdm==4.51.0
urllib3==1.26.2
xmltodict==0.12.0
