actdiag==2.0.0
alabaster==0.7.12
ambient @ git+https://github.com/AmbientDataInc/ambient-python-lib.git@0acc1b83e01499a0de6fdbe9971e1ab740f5d189
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
Babel @ file:///tmp/build/80754af9/babel_1607110387436/work
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blockdiag==2.0.1
certifi==2020.11.8
cffi==1.14.0
chardet==3.0.4
conda==4.9.2
conda-package-handling==1.7.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fire==0.3.1
funcparserlib==0.3.6
idna==2.9
imagesize==1.2.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
japanize-matplotlib==1.1.3
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
lml==0.1.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nb2xls==0.1.6
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
notebook==6.1.4
ntlm-auth==1.5.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233721170/work
nwdiag==2.0.0
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
packaging @ file:///tmp/build/80754af9/packaging_1606930849755/work
pandas @ file:///tmp/build/80754af9/pandas_1598371468004/work
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.20
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-xls==0.6.1
pyexcel-xlsx==0.6.0
pyexcel-xlsxw==0.6.1
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pykerberos==1.2.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypng==0.0.20
pyrsistent==0.17.3
PySocks==1.7.1
pyspnego==0.1.2
python-dateutil==2.8.1
pytz==2020.1
pywinrm==0.4.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.23.0
requests-credssp==1.2.0
requests-ntlm==1.1.0
ruamel-yaml==0.15.87
Send2Trash==1.5.0
seqdiag==2.0.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-actdiag==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-blockdiag==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-seqdiag==2.0.0
sphinxcontrib-serializinghtml==1.1.4
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
texttable==1.6.3
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
tqdm==4.46.0
traitlets==5.0.5
urllib3==1.25.8
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
widgetsnbextension==3.5.1
xlrd==1.2.0
XlsxWriter==1.3.7
xlwt==1.3.0
xmltodict==0.12.0
